body {
    background-color: #32383e;
}

h5 {
    color: white;
}

td {
    font-size: 1.5em;
}

td.actions {
    text-align: center;
    padding: 0.2em;
}

.input-fields {
    height: 4em;
    margin-top: 0.5em;
}

.marked {
    text-decoration: line-through;
    color: grey;
    opacity: 0.3;
}

.change-button {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
}

.delete-button {
    padding-bottom: 0;
    padding-top:0;
}

#up-button {
    font-size: 12px;
}

#down-button {
    font-size: 12px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@media only screen and (min-width: 650px) {
    #up-button, #down-button {
        display: none;
    }
}