body {
    background-color: #32383e;
}

h5 {
    color: white;
}

td {
    font-size: 1.5em;
}

td.actions {
    text-align: center;
    padding: 0.2em;
}

.input-fields {
    height: 3em;
    margin-top: 0.75em;
}

.marked {
    text-decoration: line-through;
    color: grey;
    opacity: 0.2;
}

.count-button {
    position: absolute;
    top: 6%;
    left: 33%;
}

.change-button {
    width: 2em;
    height: 2em;
    margin-bottom: 5px;
}

#increase-button, #decrease-button {
    height: 100%;
    width: 100%;
    position: relative;
}

#save-button {
    margin-top: 0.5em;
}

.delete-button, .up-button, .down-button {
    padding: 0;
}
.delete-button {
    margin-top: 0.5em;
}

.up-button {
    margin-right: 0.5em;
}

#up-button {
    font-size: 12px;
}

#down-button {
    font-size: 12px;
}

#confirm-sorting-button {
    display: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@media only screen and (min-width: 650px) {
    #up-button, #down-button, #button-insert-point {
        display: none;
    }
    .cleanup-button-wrapper {
        margin: 0 auto;
    }
}
