body {
    background-color: #32383e;
}

h5 {
    color: white;
}

td {
    font-size: 1.5em;
}

.marked {
    text-decoration: line-through;
    color: grey;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
